<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.shiolier.wayn" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RadarActivity"
            android:label="@string/title_activity_radar" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".GroupSearchActivity"
            android:label="@string/title_activity_group_search" >
        </activity>
        <activity
            android:name=".GroupCreateActivity"
            android:label="@string/title_activity_group_create" >
        </activity>
        <activity
            android:name=".GroupManageActivity"
            android:label="@string/title_activity_group_manage" >
        </activity>
        <activity
            android:name=".DisplayGroupSettingActivity"
            android:label="@string/title_activity_display_group_setting" >
        </activity>
        <activity
            android:name=".GroupRequestListActivity"
            android:label="@string/title_activity_group_request_list" >
        </activity>
        <activity
            android:name=".GroupRequestDetailActivity"
            android:label="@string/title_activity_group_request_detail" >
        </activity>

        <service
            android:name=".service.PostLocationService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".UserNameChangeActivity"
            android:label="@string/title_activity_name_change" >
        </activity>
    </application>

</manifest>
